/****** General ***********/

@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;400;700&display=swap");

* {
  font-family: "Raleway", sans-serif;
}

:root {
  --main-color: #0065fc;
  --main-bg-color: #f2f2f2;
  --filter-bg-color: #deebff;
}

.fa-solid {
  color: var(--main-color);
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: plum solid 2px; */
}

.main-container {
  width: 100%;
  max-width: 1440px;
  min-width: 320px;
  box-sizing: border-box;
  /* border: solid 1px orange; */
}

.section-title {
  margin: 0;
  font-size: 22px;
}

.card {
  background-color: white;
  border-radius: 20px;
  padding: 5px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
  object-fit: cover;
}

.card-v {
  background-color: white;
  border-radius: 20px;
  padding: 5px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card-v img {
  object-fit: cover;
}

a {
  text-decoration: none;
  color: black;
}

.card-x {
  background-color: white;
  border-radius: 20px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card-x img {
  object-fit: cover;
}

.card-title {
  font-size: 16px;
}

.euro {
  font-weight: 700;
}

.neutralStar {
  color: var(--main-bg-color);
}

/**** Header ****/

header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 79px;
  max-width: 1440px;
  box-sizing: border-box;
  margin-bottom: 30px;
  /* border: solid 1px blue; */
}

.logo {
  height: 79px;
  width: 121.08966064453125px;
  padding: 30px 30px 30px 0;
  text-align: center;
  /* border: red solid 1px; */
}

.logo img {
  height: 19px;
  width: 61.089656829833984px;
}

nav {
  width: 30%;
  /* border: #0065fc solid 1px; */
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  height: 100%;
  /* border: solid 1px green; */
  margin: 0px;
}

li a {
  /* display: inline-block; */
  text-decoration: none;
  color: black;
}

li a:hover {
  color: #0065fc;
  border-top: solid 3px #0065fc;
  padding-top: 36px;
  /* bidouille ? */
}

/****** info group ******/

.info-group {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 50px;
  /* border: red solid 2px; */
}

/* .headline {
  border: #0065fc solid 2px;
}
.searchbar {
  border: #0065fc solid 2px;
}
.filterbar {
  border: #0065fc solid 2px;
}
.infobar {
  border: #0065fc solid 2px;
} */

/* searchbar */

.searchbar {
  display: flex;
  margin-bottom: 20px;
}

.group-15 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--main-bg-color);
  border-radius: 15px 0 0 15px;
  width: 50px;
  height: 49px;
}

.searchbar input {
  border: var(--main-bg-color) solid 1px;
  font-size: 1rem;
  font-weight: 700;
}

.searchbar input::placeholder {
  color: black;
  text-align: center;
}

.search {
  background-color: #0065fc;
  color: white;
  border: #0065fc;
  font-size: 1rem;
  font-weight: 700;
  border-radius: 0 15px 15px 0;
  padding: 0 15px;
}

.search i {
  color: white;
  display: none;
}

button {
  cursor: pointer;
}

/* filterbar */

.filterbar {
  display: flex;
  align-items: center;
  justify-content: left;
}

.filterbar-filters {
  display: flex;
}

.filterbar p {
  font-size: 1rem;
  font-weight: 700;
}

.filter {
  display: flex;
  align-items: center;
  border: var(--main-bg-color) solid 2px;
  border-radius: 30px;
  padding: 0 19px;
  margin: 0 10px;
  height: 49px;
  cursor: pointer;
}

.filter:hover {
  background-color: #deebff;
}

.icon {
  width: 22px;
  height: 22px;
}

/* infobar */

.infobar {
  display: flex;
  align-items: center;
}

.ellipse11 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  border: var(--main-bg-color) solid 1px;
  border-radius: 100%;
  margin-right: 10px;
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
  display: flex;
  justify-content: space-between;
  margin: 30px 0;
  padding: 0 50px;
  /* border: blue solid 2px; */
}

.hebergements-and-populaires section {
  background-color: var(--main-bg-color);
  border-radius: 20px;
  padding: 30px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

/****** Hebergements ***********/
.hebergements {
  width: 65%;
}

.top {
  display: flex;
  justify-content: space-around;
}

.bottom {
  display: flex;
  justify-content: space-around;
}

.hebergements-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hebergements-cards .card-v {
  display: flex;
  flex-direction: column;
  width: 28%;
  height: 30%;
  margin-top: 33px;
}

.hebergements-cards img {
  width: 100%;
  height: 100px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.hebergements-cards .card-content {
  width: 100%;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

.hebergements-cards .card-title {
  margin-top: 10px;
  margin-bottom: 4px;
}

.hebergements-cards .card-subtitle {
  margin: 0;
}

.hebergements-cards .card-rating {
  margin-bottom: 5px;
}

/****** Populaires ***********/
.populaires {
  width: 32%;
}

.populaires-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.populaires-cards .card {
  display: flex;
  margin-top: 33px;
}

.populaires-cards img {
  width: 33%;
  height: 136px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
  width: 67%;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

.populaires-cards .card-title {
  margin-top: 10px;
  margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
  margin: 0;
}

.populaires-cards .card-rating {
  margin-bottom: 5px;
}

/****** Activities ***********/

.activities {
  padding: 0 50px;
}

.activities-cards {
  display: flex;
  justify-content: space-between;
  /* border: #0065fc solid 1px; */
}

.activities-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.activities-cards .card-x {
  display: flex;
  flex-direction: column;
  margin-top: 33px;
  width: 23%;
  height: 439px;
}

.activities-cards .card-x a {
  height: 100%;
}

.activities-cards img {
  height: 90%;
  width: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.activities-cards .card-content {
  height: 10%;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

.activities-cards .card-title {
  margin-top: 10px;
  margin-bottom: 4px;
}

/***** Footer *****/

footer {
  background-color: var(--main-bg-color);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 30px 50px 0 50px;
}

.footer-part {
  padding-left: 15px;
}

.footer-part h3 {
  font-size: 18px;
}

.footer-part {
  font-size: 16px;
}

.about-content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100px;
}

.househelp-content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 62px;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
  .hebergements-and-populaires {
    flex-direction: column;
  }

  .hebergements {
    width: 100%;
  }

  .populaires {
    width: 100%;
    margin-top: 50px;
  }

  .populaires-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .populaires-cards .card {
    width: 30%;
  }

  .populaires-cards .card-title {
    font-size: 14px;
  }

  .populaires-cards .card-subtitle {
    font-size: 13px;
  }

  .filterbar {
    display: flex;
    flex-direction: column;
    align-items: start;
  }

  .filter {
    margin: 0 7px;
  }

  .filter-one {
    margin-left: 0;
  }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
  /* Header */

  header {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 120px;
  }

  nav {
    width: 100%;
    /* padding-bottom: 10px; */
    border-bottom: #f2f2f2 solid 3px;
  }

  li {
    border-bottom: #f2f2f2 solid 3px;
    text-align: center;
    width: 50%;
    padding-bottom: 30px;
  }

  li:hover {
    padding-bottom: 30px;
    border-bottom: #0065fc solid 3px;
    border-top: none;
  }

  li a:hover {
    border-top: none;
  }

  /* Body */
  body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: plum solid 2px; */
  }

  .main-container {
    padding: 0;
    /* border: solid 1px orange; */
  }

  /**** info group ****/

  .info-group {
    margin: 12px;
    height: 500px;
    padding: 10px;
  }

  .searchbar {
    margin-bottom: 0;
  }

  .searchbar input {
    font-size: 0.9rem;
  }

  .search {
    font-size: 0.9rem;
    padding: 0 12px;
  }

  .search i {
    display: block;
  }

  .search p {
    display: none;
  }

  .filter {
    margin: 0 6px 6px 0;
    padding: 0 10px;
  }

  .filter p {
    font-size: 0.9rem;
  }

  .filterbar-filters {
    display: grid;
    grid-template-areas:
      "a a a a"
      "b b c c"
      "d d e e";
  }

  .filter-zero {
    grid-area: a;
  }

  .filter-one {
    grid-area: b;
  }

  .filter-two {
    grid-area: c;
  }

  .filter-three {
    grid-area: d;
  }

  .filter-four {
    grid-area: e;
  }

  .hebergements-and-populaires {
    flex-direction: column-reverse;
    margin: 0;
    padding: 0;
  }

  .hebergements-and-populaires section {
    border-radius: 0;
  }

  /* *** Populaire *** */

  .populaires {
    width: 100%;
    border-radius: 0;
    margin: 0;
  }

  .populaires-cards {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .populaires-cards .card {
    width: 100%;
  }

  .populaires-cards .card-title {
    font-size: 14px;
  }

  .populaires-cards .card-subtitle {
    font-size: 13px;
  }

  /* *** Hebergements *** */

  #hebergements {
    background-color: white;
  }

  .hebergements {
    width: 100%;
  }

  .top {
    flex-direction: column;
  }

  .bottom {
    flex-direction: column;
  }

  .hebergements-cards {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .hebergements-cards .card-v {
    width: 100%;
  }

  .hebergements-cards .card-title {
    font-size: 14px;
  }

  .hebergements-cards .card-subtitle {
    font-size: 13px;
  }

  /* *** Activities *** */

  .activities {
    padding: 0 30px 30px 30px;
  }

  .activities-cards {
    flex-direction: column;
    height: 1200px;
  }

  .activities-cards .card-x {
    width: 100%;
    height: 20%;
  }

  .activities-cards img {
    height: 85%;
  }

  .activities-cards .card-content {
    height: 15%;
  }

  footer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 500px;
    margin: 0;
  }
}